@charset "UTF-8";

@import "normalize";

@import "bootstrap/assets/stylesheets/_bootstrap.scss";

//@import 'react-select/dist/react-select.css';
@import 'react-select/scss/default.scss';
@import 'react-select/scss/components.scss';
@import 'react-select/scss/control.scss';
@import 'react-select/scss/menu.scss';
@import 'react-select/scss/mixins.scss';
@import 'react-select/scss/multi.scss';
@import 'react-select/scss/select.scss';
@import 'react-select/scss/spinner.scss';
@import 'rc-color-picker/assets/index.css';

@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

@import "bourbon/bourbon";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@include keyframes(spin) {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loading-container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 100;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 101;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    border: 5px solid rgba(255,255,255, 0.5);
    border-top-color: rgba(0,0,0, 0.5);
    border-bottom-color: rgba(0,0,0, 0.5);
    border-radius: 50%;
    @include animation(spin 2s infinite linear);
  }
}

// Used to make google maps container responsive
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


// Used to align cols vertically with the other children
.vertical-align-end {
    display: flex;
    align-items: end;
}

.vertical-align-middle {
    display: flex;
    align-items: center;
}

// color picker css override
.rc-color-picker-trigger {
  width:80px;
  height: 30px;
}

// Custom btn parameters
.btn {
  margin-bottom: 10px;
}

// magic related
.magic-on {
  .gmnoprint a, .gmnoprint span {
    display:none;
  }
  .gmnoprint div {
    background:none !important;
  }

  img[src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png"], a[href^="http://maps.google.com/maps"]{
    display:none !important;
  }

}

// Loader
$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;

// scaling... any units
$width: 100px;

.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: $width;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}

#loader-container {
    height: 3em;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

// Footer
#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom: 9.6em; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -9.6em; /* negative value of footer height */
  height: 9.6em;
  clear:both;
  background-color: #f5f5f5;
}

.credit {
  margin-top: 2.75%;
}

// App container
#app {
  overflow-x: hidden;
}

//Navbar
.container {
  width: 100%;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  font-family: 'Homemade apple';
  font-size: 35px;
  margin: 25px 0 20px 0;
  padding-left: 40px;
}

.navbar-header {
  margin-bottom: 1.5em;
}

@media (min-width: 404px) {
  .navbar-header {
    margin-bottom: 1em;
  }
}

@media (min-width: 657px) {
  .navbar-header {
    margin-bottom: 0;
  }
}

// legend
#map-legend, #map-title {
  font-family: 'Homemade apple';
  opacity: 0.85;
  color: black;
  font-weight: bold;
}
#map-legend h4 {
  font-size: 20px;
  opacity: inherit;
  color: inherit;
  font-weight: inherit;
}

#map-title {
  h2 {
    font-size: 30px;
    opacity: inherit;
    color: inherit;
    font-weight: inherit;
  }
  padding-top: 25px
}

.svg-canvas {
  margin-top: 20px;
}

// Responsiveness
#map-wrapper {
  margin-top: 3.5em;
}


@media (min-width: 768px) {
  #map-wrapper {
    margin-top: 0.5em;
  }
}

@media (min-width: 992px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }

  .form-panel {
    overflow: scroll;
    height: 45.75em;
  }

  #map-wrapper {
    margin-top: 0;
  }
}

@media (max-width: 1200px) {
  .btn-block-md {
    width:100%;
    display:block;
  }
}

// @media (max-width: 992px) {
//   .btn-block-md {
//     display:inherit;
//   }
// }



// @media (min-width: 768px) {
//   .form-panel-container {
//     margin-bottom: 20px;
//   }
// }
