@charset "UTF-8";

@import "normalize";

@import "bootstrap/assets/stylesheets/_bootstrap.scss";

@import "bourbon/bourbon";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@include keyframes(spin) {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loading-container {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    z-index: 100;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 101;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    border: 5px solid rgba(255,255,255, 0.5);
    border-top-color: rgba(0,0,0, 0.5);
    border-bottom-color: rgba(0,0,0, 0.5);
    border-radius: 50%;
    @include animation(spin 2s infinite linear);
  }
}

// Used to make google maps container responsive
.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


// Used to align cols vertically with the other children
.vertical-align-end {
    display: flex;
    align-items: end;
}

.vertical-align-middle {
    display: flex;
    align-items: center;
}
